:root {
  --card-gap: 1px;
}

.clockPanel {
  display: inline-block; 
  border: 1px solid rgb(44, 44, 44);
  line-height: 1;
  position: relative;
  transform-style: preserve-3d;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--card-gap);
  overflow: hidden;
}

.perspective {
  perspective: 800px;
}

.cardFlip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateX(0deg);
  transform-style: preserve-3d;
}

.cardFlipWrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.cardFlipContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cardStatic {
  
}

.flipCardLeafFront {

}

.flipCardLeafBack {
  position: absolute !important;
  top: 0;
  bottom: 0;
}

.cardLeaf {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.cardContent {
  white-space: nowrap;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

.cardContentTop {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.cardContentBottom {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-50% - var(--card-gap)));  
}


